html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: #eeeeee;
}

.profile {
  display: flex;
  justify-content: space-between;
}

#social i {
  width: 30px;
  margin: 10px;
  color: #555555;
}

.content {
  background-color: #ffffff;
  height: auto;
  min-height: 100%;
  padding: 60px;
  box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
}

h1 {
  color: #333333;
}

h2, h3, h4, h5, h6, p {
  color: #555555;
}

.headshot {
  width: 100%;
  border-radius: 50%;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #555555;
}

.icons i.target {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.icons i.target p {
  display: flex;
  visibility: hidden;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 100;
  position: absolute;
  margin-top: 40px;
  color: #222222;
}

.icons i.target:hover p {
  visibility: visible;
  animation: shake 0.25s linear;
}

@media (max-width: 800px) {
  .icons i {
    display: flex;
  }
}

@keyframes shake {
  20% {
    transform: translate3d(-1px, 0, 0);
  }

  40% {
    transform: translate3d(1px, 0, 0);
  }

  60% {
    transform: translate3d(-1px, 0, 0);
  }

  80% {
    transform: translate3d(1px, 0, 0);
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}