#profile .icon {
  height: 2rem;
  margin: 1rem;
}

html,body {
  height: 100%;
  margin: 0;
}

.content {
  height: 100%;
  min-height: 100%;
  padding: 10vh 3vw;
  color: white;
}

html>body .content {
  height: auto;
}

#section-one {
  background: url('../images/bktx_dgl_lines_light.png') center center repeat scroll #5C737F;
}

#training {
  background: url('../images/bktx_dgl_lines_light.png') center center repeat scroll;
  color: #455a64;
}

#about {
  background: url('../images/bktx_dgl_lines_light.png') center center repeat scroll #5C737F;
}

#portfolio {
  background: url('../images/bktx_dgl_lines_light.png') center center repeat scroll;
  color: #455a64;
}

.welcome {
  padding: 20vh 30vw;
}

.about h5 {
  font-size: 1.2rem;
}

h5 {
  font-weight: 100;
  line-height: 2rem;
  /*font-style: italic;*/
}

h3 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

.icons {
  margin-top: 10rem;
}

.icons .icon img {
  width: 85px;
  padding: 0 10px;
}

.icons .icon {
  display: inline-block;
}

.icon p {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

#ps .ps-text,
#ai .ai-text,
#lr .lr-text,
#html .html-text,
#js .js-text,
#css .css-text,
#git .git-text,
#gh .gh-text,
#ang .ang-text,
#emb .emb-text,
#ruby .ruby-text {
  position: relative;
  visibility: hidden;
}

#ps:hover .ps-text,
#ai:hover .ai-text,
#lr:hover .lr-text,
#html:hover .html-text,
#js:hover .js-text,
#css:hover .css-text,
#git:hover .git-text,
#gh:hover .gh-text,
#ang:hover .ang-text,
#emb:hover .emb-text,
#ruby:hover .ruby-text {
  visibility: visible;
  animation: shake 0.25s linear;
}

@keyframes shake {
  20% {
    transform: translate3d(-1px, 0, 0);
  }

  40% {
    transform: translate3d(2px, 0, 0);
  }

  60% {
    transform: translate3d(-4px, 0, 0);
  }

  80% {
    transform: translate3d(4px, 0, 0);
  }
}
