.star-animate-one {
  animation: hideshow 10s ease infinite;
}

.star-animate-two {
  animation: hideshow 10s ease infinite;
  animation-delay: 3s;
}

.star-animate-three {
  animation: hideshow 10s ease infinite;
  animation-delay: 6s;
}

.star-animate-four {
  animation: hideshow 10s ease infinite;
  animation-delay: 9s;
}

@keyframes hideshow {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.cloud {
  animation: moveaccross 30s linear infinite;
}


@keyframes moveaccross {
  0% { transform: translateX(2160px); }
  100% { transform: translateX(-2160px); }
}
